name: Go

on:
  pull_request:
  push:

permissions:
  contents: write

jobs:
  escobar:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-go@v6
        with:
          go-version: '1.23'
      - uses: actions/cache@v4
        with:
          path: |
            ~/.cache/go-build
            ~/go/pkg/mod
          key: ${{ runner.os }}-golang-${{ hashFiles('**/go.sum') }}
          restore-keys: |
            ${{ runner.os }}-golang-
      - name: Download dependencies
        run: go mod download

#      - name: Lint
#        uses: golangci/golangci-lint-action@v9
#        with:
#          version: v2.6

      - name: Build
        run: go build ./cmd/escobar

      - name: Test
        run: go test -gcflags=all=-l -v ./...

      - name: Test race
        run: go test -gcflags=all=-l -race -v ./...

      - name: Release
        if: startsWith(github.ref, 'refs/tags/v')
        uses: goreleaser/goreleaser-action@v6
        with:
          version: latest
          args: release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
